/* imports */

@import url("https://fonts.googleapis.com/css2?family=Gafata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

/* content */

body {
  padding: 50px;
  font: 14px "Gafata", system-ui, -apple-system, "Lucida Grande", Helvetica,
    Cantarell, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
h1 {
  font: 9vw "Patua One";
  margin: 0px;
}

h2 {
  font-size: 3vw;
  margin: 3px;
}

h3 {
  font-size: 2vw;
  color: grey;
}

.bob {
  font-family: "Patua One";
  margin: -5px;
  margin-left: 20%;
}

.reload {
  position: absolute;
  float: right;
  right: 7%;
}

.credit {
  position: absolute;
  bottom: 4%;
  right: 7%;
  float: right;
}
